body {
  background-color: rgb(28, 26, 26);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borderGreen {
  border: 5px solid #aeffb6;
}

.borderRed {
  border: 5px solid #f58989;
}

.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}
