body {
  background-color: rgb(28, 26, 26);
  color: white;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}
